build/
build_web/
*.o
*.obj
*.exe
*.dll
*.so
*.dylib
*.wasm
*.data
*.html
*.js

android/.gradle/
android/build/
android/app/build/
android/app/.cxx/
android/local.properties
*.apk
*.aab

.idea/
.vscode/
*.swp
*.swo

.DS_Store
Thumbs.db